html, body {
  height: 100%;
  width: 100%;
  background-color: #e0e0e5;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(64, 160, 144), rgb(56, 56, 138), #c53049;
}

li,a{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #d4d3d3;
  text-decoration: none;
  border-block-color: white;
  cursor: pointer;
  list-style: none;
  margin-left: 30px;
}

header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 30px 10%;
  background-color: #17175e;
  width: 1626px;
}

img{
  width: 50px;
  margin-left: -114px;
  cursor: pointer;
}
h1{
  font-size: 40px;
  color: white;
  margin-left: 5px;
/*   margin-top: -57px; */
/*   margin-bottom: -60px; */
  padding: 0;
}
h3{
  font-size: 30px;
  color: #beacac;
  margin-left: 5px;
  padding: 0;
  text-align: right;
}
li{
  display: inline-block;
}

nav{
  width: 72%;
  text-align: center;
}

ul{
  display: flex;
}


.button{
 font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #d4d3d3;
  text-decoration: none;
  border-block-color: white;
  cursor: pointer;
  list-style: none;
  margin-left: 30px;
  text-align: -webkit-match-parent;
}

.box1{
  color: white;
  height: 350px;
  width: 60vw;
  margin-top: 90px;
  margin-left: 50px;
  font-size: 22p
}

/* * {
  margin: 0px;
  padding: 0px;
/* } */ 

.container{
  height: 556px;
  background-image: linear-gradient(to bottom right,rgb(114, 229, 238), rgb(79 84 191),#11518d );
  display: flex;
  width: 106vw;
  color:white;
}

.box2{
  margin-top: 400px;
  margin-left: -730px;
}

div {
  display: block;
}

.bttn{
  margin-left: 308px;
  font-size: 18px;
  margin: 6px;
  border-radius: 9px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3e3cc3;
  color: #ffffff;
  cursor: pointer;
}

.bttn1{
  margin-left: 308px;
  font-size: 18px;
  margin: 6px;
  border-radius: 9px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3e3cc3;
  color: white;
  cursor: pointer;
}

.box1 h1{
  font-size: 40px;
  color: white;
}

.box1 h3{
  font-size: 25px;
  color:white;
}







p{
  margin-left: 15px;
  font-size: 18px;
  display: block;
}



.box5{
  height: 150px;
  width: 250px;
  background-color: white;
  border: 2px solid grey;
  margin: 15px;
  margin-top: -48px;
  border-radius: 10px;
}



.container1{
  display: flex;
  height: 150px;
  padding-left: 190px;
  width: auto;
  flex-wrap: wrap;
}


.btn2{
   /* justify-content: center; */
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(226, 246, 239);
  color: rgb(9, 125, 9);
  border: 2px solid white;
  cursor: pointer;
}

.btn3{
  margin-left: 80px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(220, 198, 241);
  color: blueviolet;
  border: 2px solid white;
  cursor: pointer;
}

p{
  margin-left: 15px;
  font-size: 18px;
}

.box6{
  height: 150px;
  width: 250px;
  background-color: white;
  border: 2px solid grey;
  margin: 15px;
  margin-top: -48px;
  border-radius: 10px;
   
}

.box7{
  height: 150px;
  width: 250px;
  background-color: white;
  border: 2px solid grey;
  margin: 15px;
  margin-top: -48px;
  border-radius: 10px;
   
}

.box8{
  height: 150px;
  width: 250px;
  background-color: white;
  border: 2px solid grey;
  margin: 15px;
  margin-top: -48px;
  border-radius: 10px;
}

#logo1{
  display: flex;
  margin-top: 10px;
  margin-left: 122px;
}
#logo2{
  display: flex;
  margin-top: 10px;
  margin-left:  119px;
}

.container2{
   /* display: flex; */
   /* background-image: url("https://blockchain-clone-id9d6mbcl-ankitajain06.vercel.app/images/purple_background.png"); */
    height: 1000px;
    background-color:rgba(125, 139, 232, 0.803);
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    
}
.box9{
  height: 800px;
    /* background-color: blueviolet; */
  margin-left: 150px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 40vw;
   
}
.box10{
  height: 800px;
  float: right;
    /* background-color: blue; */
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 40vw;
  background-image: url("images/blue.png");
  padding-left: 100px;
}
    

.x p{
  font-size: 50px;
  margin: 15px;
  color: rgba(9, 9, 103, 0.534);
}
.col1{
  height: 90px;
  background-color:rgb(190, 187, 239);
  color: rgb(93, 93, 222);
  margin: 20px ;
  padding: 30px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid grey;
}
.col{
  height: 50px;
  background-color: rgb(207, 213, 239);
  margin: 20px;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  color: rgb(8, 8, 99);
  border: 2px solid grey;
}
.btn4{
  margin-left: 25px;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgb(61, 61, 225);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.btn4:hover{
  background-color: blue;
}
